<meta charset="utf-8"/>
<link crossorigin="anonymous"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+"
      rel="stylesheet"/>
<!--<script src="https://sdk.amazonaws.com/js/aws-sdk-2.19.0.min.js"></script>-->

<!-- HIT Interface -->
<meta content="width=device-width,initial-scale=1" name="viewport"/>
<section class="container" id="TaggingOfAnImage">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-primary">
                <!-- These are being used to enable expand/collapse feature -->
                <a class="panel-heading" href="javascript:void(0);" id="collapseTrigger">
                    <strong>Simple Image Processing HIT</strong>
                    <span class="collapse-text">(Click to expand)</span>
                </a>
                <div class="panel-body" id="instructionBody">
                    <ul>
                        <li>Click Save button to save image</li>
                        <li>Click Undo button to remove polyline</li>
                        <li>Click Previous button to show previous labeled image</li>
                        <li>Click Next button to show the next image</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="workContent">
        <div class="col-xs-12 col-sm-8 image">
            <canvas id="my_canvas"></canvas>
        </div>
        <div class="col-xs-12 col-sm-4 fields">
            <div class="form-group">
                <input class="form-control" id="file_input" name="tag1" type="file" style="display: none">
            </div>
            <div class="form-group">
                <div class="row">
                    <button id="save_btn" name="save" class="mturk-btn">Save(s)</button>
                </div>
                <div class="row">
                    <button id="undo_btn" name="undo" class="mturk-btn">Undo(z)</button>
                </div>
                <div class="row">
                    <button id="previous_btn" name="previous" class="mturk-btn">Previous(x)</button>
                </div>
                <div class="row">
                    <button id="next_btn" name="next" class="mturk-btn">Next(c)</button>
                </div>
                <div class="row">
                    <button id="zoom_in_btn" name="next" class="mturk-btn">Zoom In(+)</button>
                </div>
                <div class="row">
                    <button id="zoom_out_btn" name="next" class="mturk-btn">Zoom Out(-)</button>
                </div>
            </div>
            <div class="form-group">
                Find the vertical vine on the image to the left. Click on the image
                to define a line running up the center of the vine. If you can't see the vine
                in a part of the image, click where you think the vine is
            </div>
        </div>
    </div>
</section>

<style type="text/css">
    #collapseTrigger {
        color: #fff;
        display: block;
        text-decoration: none;
    }
    .image {
        margin-bottom: 15px;
    }
    button.mturk-btn {
        width: 100px;
        background-color: rgb(164, 194, 255);
        border-color: rgba(100, 100, 100, 0.5);
        margin-bottom: 10px;
        margin-left: 100px;
    }
</style>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"
        integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"
        integrity="sha384-s1ITto93iSMDxlp/79qhWHi+LsIi9Gx6yL+cOKDuymvihkfol83TYbLbOw+W/wv4"
        crossorigin="anonymous">
</script>
<script>

    var s3_filename_list = [
        '1513372247.093',
        '1513372248.093',
        '1513372249.093',
        '1513372250.093',
        '1513372251.093',
        '1513372252.091',
        '1513372253.093',
        '1513372254.093',
        '1513372255.092',
        '1513372256.092',
        '1513372257.093',
        '1513372258.093',
        '1513372259.093',
        '1513372264.091',
        '1513372265.093',
        '1513372266.093',
        '1513372267.093',
        '1513372268.094',
        '1513372273.093',
        '1513372274.093',
        '1513372275.091',
        '1513372276.093',
        '1513372277.093',
        '1513372278.093'
    ];
    var image_index = 0;
    var canvas = document.getElementById('my_canvas');
    canvas.width = 1500; canvas.height = 1200;

    var ctx = canvas.getContext('2d');
    var img;
    var img_data;
    var zoom_scale = 1;
    var x_origin = 0, y_origin = 0;
    var img_data_array = [];
    var point_array = [];

    function sleepFor( sleepDuration_milliseconds ){
        var now = new Date().getTime();
        while(new Date().getTime() < now + sleepDuration_milliseconds){ /* do nothing */ }
    }

    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    }

    function update_polyine_points(scale) {
        for (var i=0; i < point_array.length; i++)
        {
            point_array[i].x = point_array[i].x * scale;
            point_array[i].y = point_array[i].y * scale;
        }
    }
    
    function redraw_polyline() {
        // draw point
        ctx.fillStyle = '#0000ff';
        for (var i=0; i < point_array.length; i++) {
            ctx.beginPath();
            ctx.arc(point_array[i].x, point_array[i].y, 3, 0, Math.PI * 2, true);
            ctx.fill();
        }

        // draw line
        ctx.lineWidth = 3;
        ctx.strokeStyle = '#0000ff';
        for (var j=0; j < point_array.length - 1; j++) {
            ctx.beginPath();
            ctx.moveTo(point_array[j].x, point_array[j].y);
            ctx.lineTo(point_array[j+1].x, point_array[j+1].y);
            ctx.stroke();
        }
    }
    
    function draw_polyline(x, y) {
        // draw point
        ctx.fillStyle = '#0000ff';
        ctx.beginPath();
        ctx.arc(x, y, 3, 0, Math.PI * 2, true);
        ctx.fill();

        // draw line
        x_origin = point_array.length === 1 ? point_array[point_array.length-1].x : point_array[point_array.length-2].x;
        y_origin = point_array.length === 1 ? point_array[point_array.length-1].y : point_array[point_array.length-2].y;
        ctx.beginPath();
        ctx.moveTo(x_origin, y_origin);
        ctx.lineTo(x, y);
        ctx.lineWidth = 3;
        ctx.strokeStyle = '#0000ff';
        ctx.stroke();
    }

    function show_image(index) {
        var filename = 'https://s3.us-east-2.amazonaws.com/image-segmentation-source/' + s3_filename_list[index] + '_ampv.png';
        img = new Image();
        img.setAttribute('crossOrigin', 'anonymous');
        img.onload = function () {
            ctx.drawImage(img, 0, 0, img.width*zoom_scale, img.height*zoom_scale);
            img_data = ctx.getImageData(0, 0, img.width*zoom_scale, img.height*zoom_scale);
            img_data_array.push(img_data);
        };
        img.src = filename;
    }
    
    function next_process() {
        image_index++;
        show_image(image_index);
        point_array = [];
        img_data_array = [];
    }
    
    function previous_process() {
        image_index = image_index > 0 ? image_index - 1 : 0;
        show_image(image_index);
        point_array = [];
        img_data_array = [];
    }

    function zoom_in_process() {
        img_data_array = [];
        zoom_scale = zoom_scale < 8 ? zoom_scale * 1.5 : 8;
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(img, 0, 0, img.width*zoom_scale, img.height*zoom_scale);
        img_data = ctx.getImageData(0, 0, img.width*zoom_scale, img.height*zoom_scale);
        img_data_array.push(img_data);
        update_polyine_points(1.5);
        redraw_polyline();
    }
    
    function zoom_out_process() {
        img_data_array = [];
        zoom_scale = zoom_scale >= 1.5 ? zoom_scale / 1.5 : 1;
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(img, 0, 0, img.width*zoom_scale, img.height*zoom_scale);
        img_data = ctx.getImageData(0, 0, img.width*zoom_scale, img.height*zoom_scale);
        img_data_array.push(img_data);
        update_polyine_points(1 / 1.5);
        redraw_polyline();
    }

    $(document).ready(function ()
    {
        var content = $('#instructionBody');
        var trigger = $('#collapseTrigger');
        content.hide();

        show_image(0);

        $('.collapse-text').text('(Click to expand)');
        trigger.click(function () {
            content.toggle();
            var isVisible = content.is(':visible');
            if (isVisible) {
                $('.collapse-text').text('(Click to collapse)');
            } else {
                $('.collapse-text').text('(Click to expand)');
            }
        });

        $('#save_btn').click( function () {
            ctx.save();
            next_process();
        });

        $('#undo_btn').click( function () {
            if (img_data_array.length > 0) {
                if (img_data_array.length === 1) {
                    point_array = [];
                }
                ctx.putImageData(img_data_array.pop(), 0, 0, 0, 0, img.width * zoom_scale, img.height * zoom_scale);
            }
            if (point_array.length > 0) {
                point_array.pop();
            }
        });

        $('#previous_btn').click(function () {
            previous_process();
        });

        $('#next_btn').click(function () {
            next_process();
        });

        $('#zoom_in_btn').click(function () {
            zoom_in_process();
        });

        $('#zoom_out_btn').click(function () {
            zoom_out_process();
        });

        $('#my_canvas').on('mousedown', function(e){
            var pos = getMousePos(canvas, e);
            if (pos.x < img.width*zoom_scale && pos.y < img.height*zoom_scale)
            {
                img_data = ctx.getImageData(0, 0, img.width*zoom_scale, img.height*zoom_scale);
                img_data_array.push(img_data);
                point_array.push(pos);
                draw_polyline(pos.x, pos.y);
            }
        });

        $(document).keydown(function (e) {
            var key = e || window.event;
            if (key.which === 83) { // press 's'
                $("#save_btn").click();
            }
            if (key.which === 90) { // press 'z'
                $("#undo_btn").click();
            }
            if (key.which === 88) { // press 'x'
                $("#previous_btn").click();
            }
            if (key.which === 67) { // press 'c'
                $("#next_btn").click();
            }
        })
    });
</script>